* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Catamaran", sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 24px;
}
nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 24px;
}

a {
  text-decoration: none;
  color: #0cbeb6;
}
p {
  color: #0cbeb6;
}
.container {
  max-width: 1250px;
  margin: auto;
  padding-left: 32px;
  padding-right: 32px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.headline {
  flex-basis: 50%;
  min-width: 310px;
}
.headline img {
  max-width: 100%;
  padding: 48px 0;
}
.headline h1 {
  font-size: 48px;
  line-height: 58px;
  margin: 28px 0;
}
.bttn {
  display: inline-block;
  background: #0cbeb6;
  color: #fff;
  padding: 10px 32px;
  margin: 32px 0;
  border-radius: 30px;
  transition: background 0.6s;
}
.bttn:hover {
  background: #0a6a65;
}

.header {
  background: radial-gradient(#fff, #c8f6f4);
}
.header .row {
  margin-top: 68px;
}
.categories {
  margin: 68px 0;
}
.headline1 {
  flex-basis: 30%;
  min-width: 248px;
  margin-bottom: 28px;
}
.headline1 img {
  width: 100%;
}
.smallcont {
  max-width: 1070px;
  margin: auto;
  padding-left: 28px;
  padding-right: 28px;
}
.smallcont {
  content: "";
  clear: both;
  display: table;
}
.headline2 {
  float: left;
  width: 25%;
  padding: 5px;
  transition: transform 0.5s;
}
.headline2 > a > img {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
  border-radius: 7px;
}

.title {
  text-align: center;
  margin: 0 auto 78px;
  position: relative;
  line-height: 58px;
}
.title::after {
  content: "";
  background: #c8f6f4;
  width: 78px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.headline2:hover {
  transform: translateY(-5px);
}
